<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>account Info</title>
  </head>
  <body>
    <a href="/account/info"> Account Info </a>
    <a href="/account/peopleInterested"> people Interested </a>
    <div class="accountInfoDiv">
      <h1>Your Account Details</h1>
      <p><strong>Username:</strong> <%= accountInfo.username %></p>
      <p><strong>Name:</strong> <%= accountInfo.name %></p>
      <p><strong>City:</strong> <%= accountInfo.city %></p>
      <p><strong>Address:</strong> <%= accountInfo.adress %></p>
      <p><strong>Contact:</strong> <%= accountInfo.contact %></p>
      <p><strong>Gender:</strong> <%= accountInfo.gender %></p>
      <p><strong>religion:</strong> <%= accountInfo.religion %></p>
      <a href="/account/edit"><button>Edit Profile</button></a>
    </div>
  </body>
</html>
