<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>People Interested</title>
  </head>
  <body>
    <a href="/account/info"> Account Info </a>
    <a href="/account/peopleInterested"> people Interested </a>
    <div class="interestedPeopleDiv">
      <h2>People Interested in You:</h2>
      <% if (accountInfo.peopleInterested.length === 0) { %>
      <p>No one is interested in you yet.</p>
      <% } else { %>
      <ul>
        <% accountInfo.peopleInterested.forEach(person => { %>
        <li>
          <p><strong>Username:</strong> <%= person.username %></p>
          <p><strong>Name:</strong> <%= person.name || "N/A" %></p>
          <p><strong>City:</strong> <%= person.city %></p>
          <p><strong>Address:</strong> <%= person.adress || "N/A" %></p>
          <p><strong>Contact:</strong> <%= person.contact || "N/A" %></p>
          <p><strong>Gender:</strong> <%= person.gender %></p>

          <h3>
            you are interested too? share your full details with them too.
          </h3>
          <button onclick="handleAcceptBack(this)" data-id="<%= person._id %>">
            accept
          </button>
          <hr />
          <h3>not interested?</h3>
          <button onclick="handleReject">reject</button>
          <!-- //need to work on handlereject function -->
          <hr />
        </li>
        <% }) %>
      </ul>
      <% } %>
    </div>
    <script>
      async function handleAcceptBack(button) {
        const profileId = button.dataset.id;
        const res = await fetch(`/interested/${profileId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        });
        const data = await res.json();
        button.innerHTML = "shared back";
        alert(data.message);
      } //working fine.
    </script>
  </body>
</html>
